<h1>게시글 작성</h1>

<!--<form action="/post/create">-->
<!--    제목 : <input type="text" name="title"></br>-->
<!--    내용 : <input type= "text" name="content"><br>-->
<!--    <input type = "submit" value="글쓰기">-->
<!--</form>-->

<%= form_tag("/post/create" , method: "get" ) do %>
 <%= label_tag(:title , "제목 :")%>
 <%= text_field_tag(:title) %>
 <br>
 <%=label_tag(:content, "내용 : ")%>
 <%= text_field_tag(:content) %>
 <br>
 <%= submit_tag("글쓰기")%>
 <br>
<% end %>